.bar {
  width: 30px;
  height: 5px;
  color: #f3f3f3;
  background-color: currentColor;
  + .bar {
    margin-left: 5px;
  }
}

.vw {
  color: #f00;
}

.w {
  color: #f90;
}

.f {
  color: #ff0;
}

.g {
  color: #6cf;
}

.s {
  color: #3c3;
}
